.container {
    padding: 48px 46px;
}

.navLinks {
    font-weight: 800;
    font-size: 24px;
    line-height: 27.61px;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.sideBarLink {
    font-size: 20px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 32px;
    text-decoration: none;
    color: white;
}

.sideBarLink:hover {
    font-size: 20px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 32px;
    text-decoration: none;
    color: white;
}

.walletButton {
    cursor: pointer;
}

.navLinks:hover {
    color: white;
}

.bannerHeaderText {
    margin-top: 203px;
    width: 743px;
    height: 296px;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF;
}

.colorText {
    color: #E041E7;
}

.bannerText {
    margin-top: 32px;
    width: 680px;
    height: 144px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    padding-top: 328;
}

.bannerButtons {
    margin-top: 32px;
    background-color: #E041E7;
    width: 306px;
    height: 64px;
    padding: 18px 32px 18px 32px;
    gap: 16px;
    border-radius: 12px;
    color: #FFFFFF;
    line-height: 28px;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.75px;
    text-align: center;


}
.bannerImage{
    margin-top: 221px;
    margin-right: 180px;
    
    
    
}

.sellBanner {
    margin-top: 142px;
    width: 1069px;
    height: 148px;
    font-weight: 800;
    line-height: 74px;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 50px;
}

.sellBannerHeading {
    margin-top: 124px;
    color: #FDD200;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
}

.sellBannerHeaderText {

    margin-top: 15px;
    margin-bottom: 33px;
    width: 616px;
    height: 180px;
    line-height: 60px;
    font-size: 54px;
    font-weight: 700;
    
    color: #FFFFFF;
}

.sellText {
    color: #C2C3C5;
    line-height: 22px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}



.homeCollection {
    margin-top: 180px;
    width: 1512px;
    height: 496px;
    background: linear-gradient(153.13deg, #E041E7 -58.04%, rgba(224, 65, 231, 0) 115.41%);
}

.homeCollectionHeader {
    margin-top: 97;
    font-weight: 800;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;

}

.homeCollectionText {
    margin-top: 32px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.homeWorkText {
    margin-top: 145px;
    margin-bottom: 124px;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 74px;
    font-weight: 800;
    font-style: normal;
}

.homeFooter {
    height: 417px;
    width: 1512px;
    opacity: 50%;
    background-color: #334958;
}

.homeFooterText {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    
    height: 26px;
    margin-bottom:56px ;
    

}