@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&family=Poppins&display=swap');

.list {
    list-style-type: none;
    text-transform: uppercase;
}

.listLinks {
    font-size: 20px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 32px;
}

.title {
    font-size: 44px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.subTitle {
        font-size: 32px;
        font-weight: 800;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: uppercase;
        margin: 32px 0;
}
.text {
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
}

.input{
background: #334958;
border: 1px solid #FFFFFF;
border-radius: 4px;
color: #FFFFFF ;
padding: 20px 25px;
font-size: 20px;
margin: 28px 0
}

.button{
background: #FFD363;
border: 1px solid #FFFFFF;
border-radius: 4px;
padding: 18px 32px;
width: 220px;
font-weight: 600;
font-size: 24px;
}