@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&family=Poppins&display=swap');

.list {
    list-style-type: none;
    text-transform: uppercase;
}

.listLinks {
    font-size: 20px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 32px;
}

.nextButton {
    margin-top: 34px;
    margin-bottom: 129px;
    background: #E041E7;
    padding: 18px 32px;
    width: 233px;
    height: 64px;
    border-radius: 12px;
    border: none;
}

.nextButton:hover {
    background: #E041E7;
    padding: 18px 32px;

}

.title {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

.subTitle {
    font-size: 32px;
    font-weight: 800;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin: 32px 0;
}

.text {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    line-height: 32px;
}

.mintText {
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    border: 1px solid;
    margin-left: 28px;
    border-radius: 8px;
    padding: 16px 24px;
    font-weight: 200;
    background:rgba(26, 27, 34, 1);
    color: white;
    appearance: none;
}

.input {
    background: #334958; 
    box-shadow: 0 0 0px 1000px #334958 inset;
    border:1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 20px 25px;
    font-size: 20px;
    margin: 28px 0
}

.input::-webkit-textfield-decoration-container{
    color: white;
}
/* .image{
    width: 20px;
    color: blue;
} */

.button {
    background: #FFD363;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 18px 32px;
    width: 220px;
    font-weight: 600;
    font-size: 24px;
}