@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inter&family=Poppins&display=swap');

.list {
  list-style-type: none;
  text-transform: uppercase;
}

.listLinks {
  font-size: 20px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-bottom: 32px;
}

.nextButton {
  margin-top: 34px;
  margin-bottom: 129px;
  background: #e041e7;
  padding: 18px 32px;
  width: 233px;
  height: 64px;
  border-radius: 12px;
  border: none;
}

.nextButton:hover {
  background: #e041e7;
  padding: 18px 32px;
}

.payButton {
  margin-top: 34px;
  margin-bottom: 50px;
  background: #e041e7;
  padding: 18px 32px;
  width: 233px;
  height: 64px;
  border-radius: 12px;
  border: none;
}

.payButton:hover {
  background: #e041e7;
  padding: 18px 32px;
}

.navButton {
  margin-right: 20px;
  font-family: 'Inter', sans-serif;
  background: #e041e7;
  padding: 13px 22px;
  border-radius: 12px;
  border: none;
}

.fileType {
  font-family: 'Inter', sans-serif;
  margin-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #8a8d90;
}

.createCollectionContainer {
  background-color: rgba(26, 27, 34, 1);
  padding: 48px 80px;
  border-radius: 8px;
}

.title {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}

.nftTitle {
  font-size: 28px;
  font-weight: 800;
}

.subTitle {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 32px;
  margin-bottom: 27px;
}

.mintTitle {
  font-weight: 800;
  font-size: 23px;
  text-transform: uppercase;
}

.text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 13px;
  margin-bottom: 32px;
}

.mintText {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid;
  margin-left: 28px;
  border-radius: 8px;
  padding: 16px 10px;
  font-weight: 200;
  background: rgba(26, 27, 34, 1);
  color: white;
  appearance: none;
  margin-right: 20px;
  max-width: 165px;
}

.mintButton {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid;
  margin-left: 28px;
  border-radius: 8px;
  padding: 16px 10px;
  font-weight: 200;
  background: rgba(26, 27, 34, 1);
  color: white;
  appearance: none;
}

.timePicker {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid;
  border-radius: 8px;
  padding: 10px 10px;
  font-weight: 200;
  background: rgba(26, 27, 34, 1);
  color: white;
  appearance: none;
}

.input {
  background: #334958;
  box-shadow: 0 0 0 1000px #334958 inset;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  padding: 20px 25px;
  font-size: 20px;
  margin: 28px 0;
}

.input::placeholder {
  color: white;
}

.button {
  font-family: 'Inter', sans-serif;
  background: #ffd363;
  border: 1px solid black;
  border-radius: 4px;
  padding: 14px 34px;
  color: #0d0f19;
  margin-top: 32px;
  font-weight: 600;
  font-size: 14px;
}
